<h1>Justine Mike's Random Thoughts</h1>

<blockquote>
I started pursuing computer science without any knowledge
about programming, at first it was hard and I feel like I
was lagging behind but after some time I catched up. And 
now I enjoy programming more than ever, I am glad that I 
chose this course!! :)))
--- Val
</blockquote>